# ==========================================
# 📂 GITIGNORE — Projet Pipeline Hybride
# ==========================================

# 🔒 Fichiers sensibles
.env

# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.ipynb_checkpoints/
.venv/
venv/
env/

# 📁 Exports locaux (données générées)

docs/
old/
logs/
__pycache__/
jars/
old_*

# 📦 Fichiers d’archives
*.zip
*.tar.gz
*.rar

# 🐳 Docker
*.pid
*.tar

# 📑 Éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 🪟 Windows
Thumbs.db
desktop.ini

# 🖼️ Images générées
graphique_*.png
résumé_*.csv

# 💻 Exécutables
*.exe
*.bat
*.sh


